TestData/* linguist-vendored
*/TestData/* linguist-vendored
FrontEndWASM/TestData/* linguist-vendored

*/opcode_gen*.h linguist-language=C++
*/isel_gen*.h linguist-language=C++


*/isel_gen* linguist-generated	
*/opcode_gen* linguist-generated	
